* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {

    width: 1024px;
    margin: auto;
    height: 1800px;
    background-color: aquamarine;
    margin-top: 30px;
}

/* nav top */

.nav_top {

    width: 80%;
    margin: auto;
    padding: 20px 0;
    background-color: brown;
}

.nav_top::after {

    content: "";
    clear: both;
    display: table;
}

.nav_top .language h4, .nav_top .language, .contact_us {

    display: inline-block;
    
}

.contact_us {

    border-left: 1px solid black;
    padding: 0 10px;
}

.nav_top_right {

    float: right;
}

.nav_top_right_span, .login , .GHSF {

    padding: 0 10px;

}

/* nav bottom */

.nav_bottom {

    width: 80%;
    margin: auto;
    /* padding: 20px 0; */
    background-color: rgb(42, 130, 165);
    height: 60px;
    
}

.nav_bottom::after {

    content: "";
    clear: both;
    display: table;
}

.logo {

    float: left;
    height: 100%;

}

.logo img {

    height: 100%;
    width: 180px;
}
.nav_bottom ul {

    display: inline-block;
    
}

.nav_bottom ul li {

    text-decoration: none;
    display: inline;
}

.nav_bottom ul li a {

    list-style-type: none;
    color: white;
    
}

.nav_bottom_list {

    float: right;
    line-height: 60px;
}

