* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {

    width: 100%;
    margin: auto;
    /* height: 1800px; */
    background-color: white;
    margin-top: 30px;
    position: relative;
}

.nav_top_container {

    width:100%;
    border-bottom: 1px solid black;
    background-color: rgb(226, 245, 248);
}
/* nav top */


.nav_top {

    width: 80%;
    margin: auto;
    /* padding: 20px 0; */
    /* background-color: rgb(226, 245, 248); */
    padding: 30px 0;

}

.nav_top::after {

    content: "";
    clear: both;
    display: table;
}

.nav_top .language h4, .nav_top .language, .contact_us {

    display: inline-block;
}

.contact_us {

    border-left: 1px solid black;
    padding: 0 10px;
    
}

.contact_us a {

    text-decoration: none;
    color: rgb(126, 139, 151);


}

.nav_top_right {

    float: right;
}


.nav_top_right a, .GHSF a ,.hero_main_content button a{

    text-decoration: none;
    padding: 0 10px;
    
}

.nav_top_right_span ,.nav_top_right button,.hero_main_content button{

    padding: 10px 10px;
    margin-right: 10px;
    border-radius: 5px;
}


.nav_top_right_span, .login , .GHSF {

    padding: 0 10px;
}

.nav_top_right .login{

    background-color: rgb(226, 245, 248);
    border: 1px solid orange;
    
    
} 

.nav_top_right button, .hero_main_content button a {

    background-color: orange;
    color: white;
    border: 0;

}

.nav_top_right .login a {

    color: orange;
    font-weight: 600;

}

.nav_top_right .GHSF a{

    color: white;
}
/* nav bottom */

.nav_bottom {

    width: 80%;
    margin: auto;
    /* padding: 20px 0; */
    background-color: white;
    /* height: 60px; */
    color: rgb(126, 139, 151);
    padding-top: 20px;
    
}

.nav_bottom::after {

    content: "";
    clear: both;
    display: table;
}

.logo {

    float: left;
    /* height: 100%; */
}

.logo img {

    /* height: 100%; */
    width: 180px;
}
.nav_bottom ul {

    display: inline-block;
}

.nav_bottom ul li {

    list-style-type: none;
    display: inline;
    padding: 0 10px;
    
}

.nav_bottom ul li a {

    color: rgb(126, 139, 151);
    text-decoration: none;
    
}

.nav_bottom_list {

    float: right;
    line-height: 60px;
}

.nav_bottom_list_span {

    padding: 0 5px;
}

/* hero */

.hero {

    width: 100%;
    /* height: 600px; */
    background-image: url("./img/jumbotron.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 120px 0;
    box-shadow: 10px 10px 10px 10px rgb(190, 190, 190);
    
}

.hero_main {

    width: 80%;
    margin: auto;
    
}

.hero_main_content {

    width: 40%;
    height: 100%;
    /* padding-top: 20px; */
}

.hero_main_content h1 {

    font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: 50px;
}

.hero_main_content p {

    font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 30px;
    padding-top: 20px;
}



.hero_main_content button {

    background-color: orange;
    color: white;
    border: 0;

}



/* aggiungo linea sotto l'hero */

.space_line {

    /* border: 2px solid black; */
    padding: 40px 0;
    background-color: rgb(152, 219, 210);
    /* position: absolute;
    top: 630px; */
    width: 100%;
    border-top: 3px solid black;
    border-bottom: 3px solid black;;
}

main{

    /* border: 2px solid black; */
    /* height: 1800px; */
    background-color: rgb(227, 231, 233);
    width: 100%;
    padding-bottom: 20px;
}

/* aggiungo main */

.main_img {

    width: 100%;
    /* background-color: chartreuse; */
    padding-top: 50px;
    
}

.main_img img {

    padding: 0px 0 5px 0;
    width: 100%;
}

.main_img_center {

    margin: auto;
    width: 250px;
}

.main_message {

    width: 80%;
    margin: auto;
    text-align: center;
    background-color: rgb(227, 231, 233);
    
}

.main_message_p {

    margin: auto;
    width: 60%;
    padding-bottom: 20px;
}

.main_message h1, p{

    padding: 0px 20px 20px 0px;
    font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 30px;
    
}

/* aggiungo sezione uno */

.section_top {

    width: 80%;
    /* height: 300px; */
    background-color:white;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-top: 30px;
    box-shadow: 0px 0px 5px 5px rgb(190, 190, 190);
}

.section_top::after {

    content: "";
    clear: both;
    display: table;
}

.section_top_right{

    /* background-color: rgb(196, 93, 144); */
    width: 50%;
    float: right;
    padding: 70px 0;
    position: relative;
    height: 400px;
}

.section_top_left {

    /* background-color: rgb(102, 197, 47); */
    width: 50%;
    float: left;
    padding: 20px 0;
    position: relative;
    height: 400px;
}

.section_top_left_img {

    width: 100%;
    height: 60%;
    position: absolute;
    top: 0;
    /* left: 50%;
    transform: translate(-50%,-50%); */
    /* background-color: darkorange; */
}

.section_top_left_img img {

    width: 200px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%); 
}

.section_top_left_btn {

    /* background-color: darkturquoise; */
    height: 40%;
    bottom: 0;
    position: absolute;
    width: 100%;
    top: 200px
    
    
}

.section_top_left_btn button a{

    text-decoration: none;
    padding: 10px 10px;
    margin-right: 10px;
    border-radius: 5px;
    color: white;

}

.section_top_left_btn button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: orange;
    color: white;
    padding: 20px 15px;
    margin-right: 10px;
    border-radius: 5px;
    border: 0;
}

.section_top_right h2 {

    font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 20px 0;

}

.section_top_right h4 {

    /* background-color: dodgerblue; */
    padding: 20 0 20px 0;
    font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.section_top_right_p {

    width: 80%;
}

.popolar_h4 {

    display: inline-block;
    padding: 10px 0;
}

.section_top_right_hr {

    /* background-color: rgb(30, 255, 30); */
    padding: 0 0 20px 0;
    display: inline-block;
    width: 350px;
    margin-left: 10px;
}

.section_top_right_hr {

    border-top: 1px solid black;
}

.checked {

    padding: 20px 0;
}

.checked_span {
    background-color: orange;
    height: 40px;
    width: 40px;
    color: white;
    border-radius: 50%;
    line-height: 40px;
    padding: 5px;
}

.checked_title {

    padding: 0 25px;
}

/* section bottom */

.section_bottom {

    background-color: rgb(227, 231, 233);
    /* height: 600px; */
    width: 100%;
}

.cards {

    width: 80%;
    height: 100%;
    /* background-color: steelblue; */
    margin: auto;
    padding-bottom: 25px;

}

.cards::after {

    display: table;
    content: "";
    clear: both;
}

.card1, .card2, .card3 {

    float: left;
    background-color: white;
    /* box-shadow: 10px 10px 10px 10px teal; */
    box-shadow: 0px 0px 5px 5px rgb(190, 190, 190);
    
}

.card1 {

    /* background-color: violet; */
    width: 30%;
    height: 100%;
    border-radius: 10px;
}

.card2 {

    /* background-color: rgb(130, 238, 220); */
    width: 30%;
    height: 100%;
    margin: 0 5%;
    border-radius: 10px;
}

.card3 {

    /* background-color: rgb(238, 204, 130); */
    width: 30%;
    height: 100%;
    border-radius: 10px;
}

/* aggiungo section bottom */

.card1_top, .card2_top, .card3_top{

    width: 100%;
    height: 30%;
    /* background-color: blue; */
    position: relative;
    border-radius: 10px;
    padding: 100px 0 80px 0;
    
}

.card1_top img, .card2_top img, .card3_top img{

    width: 160px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-top: 30px;
    
}

.card1_middle,.card2_middle,.card3_middle {

    width: 100%;
    height: 30%;
    /* background-color: rgb(0, 255, 34); */
    /* position: relative; */
}

.card1_bottom,.card2_bottom, .card3_bottom{

    width: 100%;
    height: 40%;
    /* background-color: rgb(0, 140, 255); */
}

.card1_middle_message, .card2_middle_message,.card3_middle_message{

    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    width: 100%;
    height: 100%;
}

.card1_middle_message_h2 h2, .card1_bottom_message_h2, .card_bottom_message_btn,.card2_middle_message_h2 h2, .card2_bottom_message_h2,.card3_middle_message_h2 h2, .card3_bottom_message_h2 {

    width: 80%;
    margin: auto;
    text-align: center;
    padding: 20px 0;
}

/* .card1_middle_message_h3 h3, .card2_middle_message_h3 h3,.card3_middle_message_h3 h3{

    width: 90%;
    margin: auto;
    text-align: center;
} */

.card1_bottom_message_list,.card2_bottom_message_list,.card3_bottom_message_list {

    width: 90%;
    margin: auto;
    padding-bottom: 30px;
}

.card1_bottom_message_list li, .card2_bottom_message_list li,.card3_bottom_message_list li{

    list-style-type: none;
    text-align: left;
}

.card_bottom_message_btn button h3 {

    padding: 10px 5px
}

.card1_bottom .card_bottom_message_btn h3 a, .card2_bottom .card_bottom_message_btn h3 a ,.card3_bottom .card_bottom_message_btn h3 a{

    color: white;
    text-decoration: none;
}

.card1_middle_message_h3_p ,.card2_middle_message_h3_p,.card3_middle_message_h3_p{

    width: 80%;
    margin: auto;
}

/* .card1_middle_message_h3_p p,.card2_middle_message_h3_p p,.card3_middle_message_h3_p p{

    font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
    
} */


.popolar_future_raw {

    width: 80%;
    margin: auto;
    border-top: 1px solid grey;
}

.popolar_future_raw h2 {

    padding-top: 20px;
}

.card_bottom_message_btn button a{

    text-decoration: none;
    padding: 10px 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.card_bottom_message_btn button {

    background-color: orange;
    color: white;
    padding: 20px 15px;
    margin-right: 10px;
    border-radius: 5px;
    border: 0;
}


/* sezione statistics */

.statistics {

    width: 100%;
    /* height: 600px; */
    background-color: rgb(50, 199, 204);
    padding-bottom: 80px;
}

.statistics::after {

    clear: both;
    display: table;
    content: "";
}

.statistics .statistics_title ,.statistics_subtitle{

    width: 60%;
    background-color: rgb(50, 199, 204);
    margin: auto;
    text-align: center;
    padding: 40px 0;

}

.statistics_title h2 , .statistics_subtitle p ,.box_img h4{

    font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;

}

.statistics .statistics_subtitle {

    width: 80%;
    background-color: rgb(50, 199, 204);
    margin: auto;
    text-align: center;
    line-height: 25px;
    padding: 20px 0;
}

.statistics_box {

    width: 80%;
    background-color: rgb(194, 56, 11);
    /* height: 300px; */
    margin: auto;

}

.statistics .box {

    width: 25%;
    float: left;
    height: 50%;
    position: relative;
}

.border_bottom_box {

    border-bottom: 1px solid white;
}

.border_right_box {

    border-right: 1px solid white;
}


.box_img {

    height: 40%;
    width: 100%;
    /* background-color: rgb(0, 255, 55); */
    position: relative;
    padding: 60px 10px 10px 10px;
}

.box_img .normal , .box_img h4{

    position: absolute;
    margin: auto;
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.smaller {

    width: 50px;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);


}

.statistics .box h1 {

    text-align: center;
    font-size: 30px;
    padding: 5px 0;
    color: white;
}

.box span {
    font-weight: 100;  
    color: white;
}

.statistics .box h5 {

    text-align: center;
    padding: 5px 0 15px 0;
    color: white;
    font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;

}

/* aggiunge sezione partner */

.partner {

    /* height: 100px; */
    width: 60%;
    margin: auto;
    /* background-color: burlywood; */
    margin-top: 30px;
    background-color: white;
    margin-top: 50px;
    padding-bottom: 50px;
}
.partner::after{

    display: table;
    content: "";
    clear: both;
}

.partner_left,.partner_right {

    float: left;
    width: 35%;
    /* border: 1px solid black; */
    height: 100%;
}

.partner_right {

    float: left;
    width: 65%;
    /* border: 1px solid black; */
    height: 100%;
}

.logo {

    width: 25%;
    height: 50%;
    /* border: 1px solid black; */
    padding: 0 0 40px 0; 

}


.partner_left_top ,.partner_left_bottom {

    height: 50%;
    /* border: 1px solid black; */
    /* width: 50%; */
    

}

.partner_left_top {

    text-align: left;
    font-size: 25px;
    margin: auto;
    
}

.partner_left_top h1 {

    color: rgb(92, 92, 92);
}

.partner_left_bottom {

    width: 45%;
    text-align: left;
    
    
}

.partner_left_bottom h5 {

    font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    padding-top: 20px;
    line-height: 20px;

}


.partner_left_bottom_span {

    font-weight: 800;
}
.partner_right .logo img{

    width: 100px;
    object-fit: contain;
}

/* aggiunge  sezione sotto partner */

.partner_bottom {

    width: 80%;
    /* height: 300px; */
    /* background-color: darksalmon; */
    margin: auto;
    margin-top: 10px;
    padding-bottom: 50px;
}


.partner_bottom::after {

    display: table;
    content: "";
    clear: both;
}

.partner_bottom_left {

    float:left;
    /* background-color:lightblue; */
    width: 50%;
    height: 100%;
}

.partner_bottom_left .partner_bottom_left_h2 h2 {

    font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 28px;
    line-height: 33px;
}

.partner_bottom_left_h5 h5 ,.partner_bottom_left_h5_btn_msg h5 {

    font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;

}

.partner_bottom_right{

    float: left;
    /* background-color: deeppink; */
    width: 50%;
    height: 100%;
}

.partner_bottom_right img {

    width: 300px;
    margin-left: 50%;
}

.partner_bottom_left_h2,.partner_bottom_left_h5 {

    width: 84%;
    padding: 20px 0;
    line-height: 20px;
}

.partner_bottom_left_h5_btn {

    padding-top: 20px;
}

.partner_bottom_left_h5_btn .GHSF,.hero_main_content .GHSF {

    text-decoration: none;
    padding: 20px 20px;
    border-radius: 5px;
    background-color: orange;
    border: 0;
    
}

.partner_bottom_left_h5_btn .GHSF a {

    color: white;
}

.partner_bottom_left_h5_btn_msg {

    padding-top: 30px;
}



/* footer */

footer {

    width: 100%;
    /* height: 500px; */
    /* background-color: lightpink; */
    background-color: rgb(45, 63, 81);
}

.top_footer {

    margin: auto;
    width: 80%;
    background-color: rgb(45, 63, 81);
    /* height: 50%; */
}

.top_footer::after {

    display: table;
    content: "";
    clear: both;

}

.footer_credits_list {

    float: left;
    /* border: 1px solid black; */
    width: 25%;
    /* height: 100%; */
    padding-top: 20px;
}

.footer_credits_list h4 {

    line-height: 30px;
    font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
}

.footer_credits_list .credts_bold {

    font-weight: 700;
    padding-bottom: 15px;

    
}
.footer_credits_list_right {

    padding-bottom: 10px;
}

.footer_credits_list_btn {

    padding: 15px 10px;
}

.footer_credits_list_btn a {

    text-decoration: none;
    color:rgb(45, 63, 81);
}

.footer_credits_list h4 a {

    text-decoration: none;
    color: white;
}

.social_icons {

    /* padding: 20px 0px; */
    color: white;
    /* border: 1px solid white; */
    width: 200px;
    height: 40px;
    /* margin-left: -25px; */
    padding-top: 15px;
}

.social_icons a {

    color: white;

}

.social_icons::after{

    clear: both;
    display: table;
    content: "";
}

.social_icons span {

    float: left;
    /* border: 1px solid white; */
    width: 40px;
    height: 100%;
    object-fit: cover;
}

.bottom_footer {

    /* height: 300px; */
    width: 100%;
    background-color: rgb(45, 63, 81);

}

.bottom_footer_links {

    width: 80%;
    margin: auto;
    /* height: 100px; */
    border-bottom: 1px solid white;
    padding-top: 40px;
}

.bottom_footer_links .bottom_footer_links_central {

    width: 80%;
    margin: auto;
    /* border: 1px solid black; */
    text-align: center;
}

.bottom_footer_links .bottom_footer_links_central li {

    display: inline-block;
    list-style-type: none;
    padding: 20px 10px;
    

}

.bottom_footer_links .bottom_footer_links_central li a {

    text-decoration: none;
    color: white;
    font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
}

.last_footer {

    width: 80%;
    margin: auto;
    /* height: 50px; */
    background-color: rgb(45, 63, 81);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 50px;

}

.last_footer::after {

    content: "";
    display: table;
    clear: both;

}

.last_footer_logo {

    width: 100px;

}

.last_footer_left ,.last_footer_right {

    
    width: 50%;
    height: 100%;
}

.last_footer_left {

    float: left;
}

.legal_footer h5 {
    color: white;
    font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
}

.last_footer_right {

    float: left;
    position: relative;
}

.last_footer_right ul {

    position: absolute;
    right: 0;
}

.last_footer_right ul li {

    list-style-type: none;
    display: inline;
    padding: 0 10px;
    
}

.last_footer_right ul li a {

    text-decoration: none;
    color: white;
    font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
}






